.main{
    width: 70%;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    padding: 0 20px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #E52128;
}


.horizontal-line{
    border: none;
    border-top: 5px solid #E52128;
    width: 60%;
    background-color: black;
    margin: 0 auto 0;
} 


.home button,
.setting button{
    border: none;
    background: none;
    cursor: pointer;
}

.buy button{
    width: 200px;
    border: none;
    background: none;
    cursor: pointer;
}
.self button{
    width: 180px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar{
    transform: translate(55px,-40px);
}
.logout:hover{
    color:#E52128;
    cursor: pointer;
}
.english:hover{
    color:#E52128;
    cursor: pointer;
}
.french:hover{
    color:#E52128;
    cursor: pointer;
}

.body{
    width: 60%;
    height: 720px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    padding: 0 20px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.left{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    transform: translateY(30px);
    
}

.buttons {
    padding: 30px; 
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-30px);
    
}

.balance-checker button,
.sms button,
.user-information button {
    background-color: #dadada;
    border: none; 
    color: #E52128;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 300px;
    box-sizing: border-box;
    background: #e0e0e0;
    box-shadow: 2px 2px 0px #acacac,
                -2px -2px 0px #f6f6f6;
}

.balance-checker button:hover,
.sms button:hover,
.user-information button:hover {
    background-color: #ff383b;
    color: black;
}

.qrcode{
    padding: 30px; 
    height: 350px;
    transform: translateY(30px);
}

.right{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #21b7e5;
    overflow: hidden;
    border-radius: 10px;
    transform: translateY(30px);
}
.top-bar{
    transform: translateY(-5px);
}
.top-bar h2{
    transform: translateY(-25px);
    background: rgb(221,112,125);
    background: linear-gradient(0deg, rgba(221,112,125,1) 0%, rgba(255,206,206,1) 48%, rgba(255,255,255,1) 99%, rgba(255,0,0,1) 100%);
    color: #E52128;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.airtel{
    transform: translateY(-40px);
    display: flex;
    justify-content: space-evenly;
}
.airtel-text{
    text-align: center;
}
.details{
    display: flex;
    background-color: #3d3d3d1e;
    margin: 0 20px 0;
    border-radius: 10px;
    justify-content: center;
    gap: 100px;
}
.time{
    transform: translateY(20px);
    display: flex;
    gap: 15px;
}
.in-out{
    transform: translateY(20px);
    display: flex;
    gap: 15px;
}
.in-out-text{
    transform: translateY(-20px);
}

.white-horizontal-line{
    border: none;
    border-top: 1px solid #ffffff;
    width: 92%;
    background-color: rgb(255, 255, 255);
    margin: 15px auto 0;
}
.network{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.network p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    transform:translateY(-10px);
}  

.battery{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.battery p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    transform:translateY(-10px);
}

.users{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.users button{
    background-color: #dadada;
    border: none; 
    color: #E52128;
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    border-radius: 10px;
    width: 70px;
    box-sizing: border-box;
}

.outer {
    width: 100px;
    height: 50px;
    margin: 25px;
    background-color: rgb(109, 109, 109);
    border-radius: 25px;
    display: flex;
    align-items: center;
    transition: .25s;
}
.green {
    background-color: rgb(119, 199, 0);
}
.inner {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: .25s;
    margin: 0 5px;
}
.move {
    transform: translateX(50px);
    background-color: rgb(255, 255, 255);
}
