.main{
    width: 70%;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    padding: 0 20px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #E52128;
}


.horizontal-line{
    border: none;
    border-top: 5px solid #E52128;
    width: 60%;
    background-color: black;
    margin: 0 auto 0;
} 


.home button,
.setting button{
    border: none;
    background: none;
    cursor: pointer;
}

.buy button{
    width: 200px;
    border: none;
    background: none;
    cursor: pointer;
}
.self button{
    width: 180px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar{
    transform: translate(55px,-40px);
}

.body{
    width: 60%;
    height: 720px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    padding: 0 20px;
    margin: 0 auto 0;
    box-sizing: border-box;
}

.left{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.buttons {
    padding: 30px; 
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.balance-checker button,
.sms button,
.user-information button {
    background-color: #dadada;
    border: none; 
    color: #E52128;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 300px;
    box-sizing: border-box;
}

.balance-checker button:hover,
.sms button:hover,
.user-information button:hover {
    background-color: #E52128;
    color: black;
}

.qrcode{
    padding: 30px; 
    height: 350px;
}

.right{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #21b7e5;
}
.top-bar h2{
    transform: translateY(-20px);
    background-color: #fcbebe; 
    color: #E52128;
    font-weight: 900;
    padding: 10px 30px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.airtel{
    transform: translateY(-40px);
    display: flex;
    justify-content: space-evenly;
}
.airtel-text{
    text-align: center;
}
.details{
    display: flex;
    background-color: #3d3d3d1e;
    margin: 0 20px 0;
    border-radius: 10px;
    justify-content: center;
    gap: 100px;
}
.time{
    transform: translateY(20px);
    display: flex;
    gap: 15px;
}
.in-out{
    transform: translateY(20px);
    display: flex;
    gap: 15px;
}
.in-out-text{
    transform: translateY(-20px);
}

.white-horizontal-line{
    border: none;
    border-top: 1px solid #ffffff;
    width: 92%;
    background-color: rgb(255, 255, 255);
    margin: 15px auto 0;
}
.network{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.network p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    transform:translateY(-10px);
}  

.battery{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.battery p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    transform:translateY(-10px);
}

.users{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.users button{
    background-color: #dadada;
    border: none; 
    color: #E52128;
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    border-radius: 10px;
    width: 70px;
    box-sizing: border-box;
}